/* code-block.css */
/* container for the code editor and the problem description */
/* --------------------------------------------------------- */
.container {
    display: flex;
    justify-content: space-between;
    /* align-items: flex-start; */
    /* width: 90%; */
    margin-top: 20px;
}

.problem-description {
    flex: 1;
    margin-right: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.code-editor {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.code-editor textarea {
    width: 100%;
    height: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    resize: vertical;
}

.code-editor button {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.code-output {
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    font-family: monospace;
    overflow-y: auto;
    height: 200px;
}

.code-output pre {
    margin: 0;
}
/* container for the code editor and the problem description */

/* --------------------------------------------------------- */

/* Language selector */
.language-selector {
    padding: 3px 3px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: #f8f8f8;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
}

.language-selector:hover {
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.language-selector:focus {
    border-color: #007bff;
}
/* Language selector */

/* --------------------------------------------------------- */