/* styles.css */
/* @import url(//fonts.googleapis.com/earlyaccess/notosanstc.css); */

/* body style */
/* --------------------------------------------------------- */
body {
    font-family: 'Roboto', 'Noto Sans TC', '微軟正黑體', sans-serif;font-size: 22px;
    margin: 0;
    padding: 0;
    background-color: azure;
}
/* --------------------------------------------------------- */
/* header style */
header {
    background-color: rgb(221, 231, 240);
    color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* --------------------------------------------------------- */
/* other style */
p {
    word-break: keep-all;
    overflow-wrap: anywhere;
    line-height: 2;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
    text-align: center;
}

section {
    justify-content: center;
    align-items: center;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto; /* Center the table */
  }
  
th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #b6b1b1a9;
}

td {
    background-color: #e9d5f0a9;
}

th:first-child, td:first-child {
    width: 300px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 15px;
}
/* --------------------------------------------------------- */

/* class selector */

/* --------------------------------------------------------- */
/* Style the header template */

/* Change the background color on mouse-over */
.header-left-buttons:hover {
    background-color: dodgerblue;
    color: white;
    /* background-color: #ddd;
    color: black; */
}
  
/* Style the active/current link*/
.header-left-buttons.active {
    background-color: dodgerblue;
    color: white;
}

.header-left-buttons{
    border-radius: 20px;
    padding: 5px 5px;
    margin: 0 5px;
    cursor: pointer;
    width: 80px;
    font-weight: bold;
}
  
/* Style the header links */
.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}
  
/* Style the logo link */
.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

.logo {
    background: none;
    border: none;
    padding: 10px;
    margin-right: 20px;
    cursor: pointer;
}

.logo img {
    display: block; /* Let image takes up the entire button space */
}

/* --------------------------------------------------------- */

/* other style */

/* --------------------------------------------------------- */
.welcomes{
    text-shadow: -1px -1px 0 #efe4d1,
                 1px -1px 0 #efe4d1,
                 -1px 1px 0 #efe4d1,
                 1px 1px 0 #efe4d1;
    /* font-family: monospace; */
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: bold;
}
.sub-title{
    /* 文字鏤空 */
    -webkit-text-stroke: 1.75px #050b5f;
    -webkit-text-fill-color: transparent;
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 50px;
    font-weight: bold; 
}

.section-block {
    padding: 25px;
    text-align: left;
    border-radius: 20px; 
    border: 2px solid black;
    margin-top: 30px;
    margin-bottom: 100px;
    margin-left : 150px; 
    margin-right : 150px; 
}

.list{
    padding: 10px;
}

.anime-title{
    padding: 20px;
}

.hidden {
    display: none;
}

.main-header {
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    flex: auto;
    flex-grow: 1;
    padding-right: 220px;
}

.star {
    cursor: pointer;
}
.star.checked {
    color: gold;
}

.footer-link {
    padding: 10px;
}

/* id selector */
#menuButton {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

#menuButton img {
    display: block; /* Let image takes up the entire button space */
}

#menuList {
    position: absolute;
    top: 80px;
    padding: 10px;
    border-radius: 15px;
    right: 0;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-top: none;
    z-index: 1;
}

#menuList ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menuList ul li {
    margin-bottom: 5px;
}

#menuList ul li a {
    text-decoration: none;
    color: #333;
}

#logInButton {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-right: 30px;
    align-items: center;
}

#logInButton img {
    display: block; /* Let image takes up the entire button space */
}

#logInEntrance {
    position: absolute;
    top: 80px;
    padding: 20px;
    border-radius: 5px;
    right: 0;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-top: none;
    z-index: 1;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#logInForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logInForm label {
    margin-bottom: 10px;
}

#logInForm input[type="text"],
#logInForm input[type="password"],
#logInForm input[type="submit"],
#logInForm input[type="reset"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

#logInForm input[type="submit"],
#logInForm input[type="reset"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

#logInForm input[type="submit"]:hover,
#logInForm input[type="reset"]:hover {
    background-color: #0056b3;
}


/* --------------------------------------------------------- */

/* Responsive web design */
/* @media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin-bottom: 10px;
    }
} */

