/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: azure;
}

header {
    background-color: rgb(221, 231, 240);
    color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p {
    word-break: keep-all;
    overflow-wrap: anywhere;
    line-height: 2;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    justify-content: center;
    align-items: center;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto; /* Center the table */
  }
  
th, td {
padding: 8px;
text-align: left;
border: 1px solid #ddd; /* Add a border to table cells */
}

th {
background-color: #b6b1b1a9;
}

td {
background-color: #e9d5f0a9;
}

th:first-child, td:first-child {
    width: 300px; /* Adjust the value as needed */
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.section-block {
    padding: 50px;
    text-align: center;
    border-radius: 20px; 
    border: 2px solid black;
    margin-top: 100px;
    margin-top: 100px;
    margin-left : 300px; 
    margin-right : 300px; 
}

.anime-title{
    padding: 20px;
}

.hidden {
    display: none;
}

.main-header {
    font-weight: bold;
    text-align: center; /* Aligns content center horizontally */
    font-size: 50px;
    flex: auto;
    flex-grow: 1; /* This will make the main-header div take up the remaining space */
    padding-left: 10px;
}

#menuButton {
    background: none;
    border: none;
    padding: 0; /* Reset padding */
    cursor: pointer;
}

#menuButton img {
    display: block; /* Ensure the image takes up the entire button space */
}

#backButton {
    background: none;
    border: none;
    padding: 0; /* Reset padding */
    cursor: pointer;
}

#backButton img {
    display: block; /* Ensure the image takes up the entire button space */
}

#menuList {
    position: absolute;
    top: 80px;
    padding: 10px;
    border-radius: 15px; /* 圓角半徑 */
    right: 0;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-top: none;
    z-index: 1;
}

#menuList ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menuList ul li {
    margin-bottom: 5px;
}

#menuList ul li a {
    text-decoration: none;
    color: #333;
}

/* Responsive web design */
/* @media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin-bottom: 10px;
    }
} */

